---
import BannerView from "../components/BannerView.astro";
import LinksBlog from "../components/LinksSeo/LinksBlog.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  initRouteView="Blog"
  title="Blog"
  link1={["/", "Inicio"]}
  link2={["/ventas", "Comprar"]}
>
  <div id="LayoutView">
    <BannerView image="/images/DemoBanner.jpg" text="Sección de Blog" />
    <div id="ParentView">
      <span>Bienvenido, encuentre lo que desea: </span>
      <br /><br />
      <LinksBlog />
    </div>
  </div>
</Layout>
