---
import BannerView from "../components/BannerView.astro";
import LinksBlog from "../components/LinksSeo/LinksBlog.astro";
import LinksBlogMulti from "../components/LinksSeo/LinksBlogMulti.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  initRouteView="Blog"
  title="Blog"
  link1={["/", "Inicio"]}
  link2={["/ventas", "Comprar"]}
>
  <div id="LayoutView">
    <BannerView image="/images/DemoBanner2.jpg" text="Sección de Blog" />
    <div id="ParentView">
      <span class="item-text-view">Bienvenido, encuentre lo que desea: </span>
      <LinksBlog />
    </div>
  </div>
</Layout>
