---
import BannerView from "../components/BannerView.astro";
import LinksIndex from "../components/LinksSeo/LinksIndex.astro";
import LinksIndex3 from "../components/LinksSeo/LinksIndex3.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  initRouteView="Inicio"
  title="Inicio"
  link1={["/ventas", "Comprar"]}
  link2={["/blog", "Más información"]}
>
  <div id="LayoutView">
    <BannerView
      image="/images/DemoBanner2.jpg"
      text="Bienvenido a Sobre Ellas"
    />
    <div id="ParentView">
      <span class="item-text-view">Encuentre lo que desea: </span>
      <LinksIndex3 />
    </div>
  </div>
</Layout>
