---
import BannerView from "../components/BannerView.astro";
import LinksVentas from "../components/LinksSeo/LinksVentas.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  initRouteView="Ventas"
  title="Ventas"
  link1={["/", "Inicio"]}
  link2={["/blog", "Más información"]}
>
  <div id="LayoutView">
    <BannerView image="/images/DemoBanner2.jpg" text="Sección de Ventas" />
    <div id="ParentView">
      <span class="item-text-view">Bienvenido, encuentre lo que desea: </span>
      <LinksVentas />
    </div>
  </div>
</Layout>
