
#ContentForm {
  margin: 40px;
}

#ContentForm span {
  font-family: helvetica, geneva, arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -1px;
  font-weight: bold;
  color: black;
}

/* Estilos para todos los enlaces <a */
#ContentForm a {
  display: inline;
  color: #555555; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  width: fit-content;
  font-family: helvetica, geneva, arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -1px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

#ContentForm a:hover {
  color: #070707;
  text-decoration: underline; /* Subrayado al pasar el mouse */
}


@media (max-width: 700px) {

  #ContentForm {
    margin: 20px;
  }

  #ContentForm span {
    font-size: 23px;
  }
  
  #ContentForm a {
    font-size: 23px;
    text-decoration: underline; /* Sin subrayado */
  }

  
}


