---
interface Props {
  dir1: Array<string>;
  dir2: Array<string>;
}
const { dir1, dir2 } = Astro.props;
---

<div class="footer-content animate__animated animate__fadeInUp">
  <footer>
    <div class="btn-footer"><a href={dir1[0]}><span>{dir1[1]}</span></a></div>
    <div class="divider"></div>
    <div class="btn-footer"><a href={dir2[0]}><span>{dir2[1]}</span></a></div>
  </footer>
</div>

<style>
  .extra-divider {
    margin: 0;
    opacity: 0;
  }
  .footer-content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgb(29, 29, 29);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
  }

  footer {
    display: flex;
    background-color: #ffffff;
    align-items: center;
  }
  .divider {
    height: 40px;
    width: 2px;
    opacity: 0.6;
    background-color: #9b9b9b;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
  }

  .btn-footer {
    flex: 1;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    user-select: none;
  }

  .btn-footer:hover {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-footer a {
    width: 240px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #010100c0;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #555555;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
  }

  .btn-footer a:hover {
    color: #000;
    border: 2px solid #444444;
  }

  .btn-footer span {
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
    font-weight: 600;
  }

  .btn-footer a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.25s ease-in-out;
    transform: scaleY(1.065);
  }

  .btn-footer a:hover::before {
    transform: scaleY(0);
  }

  .btn-footer a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.25s ease-in-out;
    transform: scaleX(1.065);
  }

  .btn-footer a:hover::after {
    transform: scaleX(0);
  }

  @media (max-width: 700px) {
    .btn-footer a::after {
      transform: scaleX(1.4);
    }
    .btn-footer a::before {
      transform: scaleY(1.4);
    }

    .btn-footer {
      height: 75px;
      width: 100%;
    }

    .btn-footer a {
      width: 130px;
      height: 50px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }

    .btn-footer:hover {
      padding-left: 5px;
      padding-right: 5px;
    }

    .divider {
      width: 1px;
      height: 22px;
    }
  }
</style>
