---
import Header from "./Header.astro";

interface Props {
  link1: string[];
  link2: string[];
  title: string;
  initRouteView: string;
}

const { link1, link2, title, initRouteView } = Astro.props;
import "../css/app.css";
import Footer from "./Footer.astro";
import Footer2 from "./Footer2.astro";
import Header2 from "./Header2.astro";
import ButtonFixed from "../components/ButtonFixed.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header2 />
    <div
      class="transform-gpu"
      id="ContentView"
    >
      <div><slot /></div>
    </div>
    <Footer2 dir1={link1} dir2={link2} />
    <ButtonFixed></ButtonFixed>
  </body>
  <script is:inline type="module" src="/js/app.js"></script>
  <script is:inline type="module">
    const layout = document.getElementById("ContentView");
    layout.style.transform = 'translateY(0px)'
    layout.style.opacity = '1'
  </script>
</html>
