---
import Header from "./Header.astro";

interface Props {
  link1: string[];
  link2: string[];
  title: string;
  initRouteView: string;
}

const { link1, link2, title, initRouteView } = Astro.props;
import "../css/app.css";
import Footer from "./Footer.astro";
import Footer2 from "./Footer2.astro";
import Header2 from "./Header2.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="robots" content="noindex">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header2/>
    <div class="animate__animated animate__fadeIn transform-gpu" id="ContentView">
      <div><slot /></div>
    </div>
    <Footer2 dir1={link1} dir2={link2} />
  </body>
  <script is:inline type="module" src="/js/app.js"></script>
  <script is:inline type="module">
    const pathname = window.location.pathname.replace(/\//g, '');;
    var className;
    switch (pathname) {
      case "":
        className = 'Inicio'
        break;
      case "blog":
        className = 'Blog'
        break;
      case "ventas":
        className = 'Ventas'
        break;
    }

	window[className].ViewPrerender = document.getElementById("LayoutView").parentElement.innerHTML;
	ManagerHistory.pushState(className);
  </script>
</html>
